<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjetoFinal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC3EAC9225B9CB8B00643728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3EACA825B9CB9200643728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3EACB325B9CB9200643728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
